pip~=25.0.1
attrs~=25.1.0
argparse~=1.4.0
wheel~=0.45.1
protobuf~=5.29.3
pyOpenSSL~=25.0.0
cryptography~=44.0.0
pillow>=8.3.2
tornado~=6.4.2
Jinja2~=3.1.5
keyring~=25.6.0
setuptools~=70.0.0
Cython~=3.0.11
matplotlib>=3.3.4
opencv-python>=4.5.3
plantcv>=3.13.0
numpy>=1.19.5
tensorflow>=2.8.0
scikit-learn>=0.24.2
tqdm>=4.62.3
keras>=3.9.2